rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner() {
      return request.auth.uid == resource.data.ownerId;
    }

    function isOwnerCreate() {
      return request.auth.uid == request.resource.data.ownerId;
    }

    match /leads/{leadId} {
      allow create: if isSignedIn() && isOwnerCreate();
      allow get, list: if isSignedIn() && request.auth.uid == resource.data.ownerId;
      allow update, delete: if isSignedIn()
        && isOwner()
        && request.resource.data.ownerId == resource.data.ownerId;
    }

    match /quotations/{quotationId} {
      allow create: if isSignedIn() && isOwnerCreate();
      allow get, list: if isSignedIn() && request.auth.uid == resource.data.ownerId;
      allow update, delete: if isSignedIn()
        && isOwner()
        && request.resource.data.ownerId == resource.data.ownerId;
    }
  }
}
